@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

div#form-container body,
div#form-container input,
div#form-container select,
div#form-container textarea,
div#form-container p,
div#form-container a,
div#form-container * {
font-family: 'Roboto', sans-serif;
box-sizing: border-box;
text-decoration:none;
}
div#form-container .material-icons {
font-family: 'Material Icons';
text-decoration:none;
}
div#form-container body::after,
div#form-container body::before,
div#form-container input::after,
div#form-container input::before,
div#form-container select::after,
div#form-container select::before,
div#form-container textarea::after,
div#form-container textarea::before,
div#form-container body *::after,
div#form-container body *::before {
box-sizing: border-box;
}
div#form-container body {
background-image: -webkit-linear-gradient(top, #f2f2f2, #e6e6e6);
background-image: linear-gradient(top, #f2f2f2, #e6e6e6);
}
div#form-container h1 {
font-family: Roboto,Helvetica,Arial,sans-serif;
font-weight: 300;
font-size: 2rem;
text-align: center;
}
div#form-container .containers {
position: relative;
max-width: 40rem;
margin: 5rem auto;
background: #fff;
width: 100%;
padding: 3rem 5rem 0;
border-radius: 1px;
}
div#form-container .containers::before {
content: '';
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
-webkit-transform: scale(0.98);
transform: scale(0.98);
-webkit-transition: -webkit-transform 0.28s ease-in-out;
transition: -webkit-transform 0.28s ease-in-out;
transition: transform 0.28s ease-in-out;
transition: transform 0.28s ease-in-out, -webkit-transform 0.28s ease-in-out;
z-index: -1;
}
div#form-container .containers:hover::before {
-webkit-transform: scale(1);
transform: scale(1);
}
div#form-container .button-container {
text-align: center;
}
div#form-container fieldset {
margin: 0 0 3rem;
padding: 0;
border: none;
}
div#form-container .card-header {
margin: -3rem -5rem 0;
border-bottom: 1px solid #eee;
padding: .75rem 1.25rem;
padding-top: 2rem;
}
div#form-container .form-radio,
div#form-container .form-group {
position: relative;
margin-top: 2.25rem;
margin-bottom: 2.25rem;
}
div#form-container .form-inline > .form-group,
div#form-container .form-inline > .btn {
display: inline-block;
margin-bottom: 0;
}
div#form-container .form-help {
margin-top: 0.125rem;
margin-left: 0.125rem;
color: #b3b3b3;
font-size: 0.8rem;
}
div#form-container .checkbox .form-help,
div#form-container .form-radio .form-help,
div#form-container .form-group .form-help {
position: absolute;
width: 100%;
}
div#form-container .checkbox .form-help {
position: relative;
margin-bottom: 1rem;
}
div#form-container .form-radio .form-help {
padding-top: 0.25rem;
margin-top: -1rem;
}
div#form-container .form-group input {
height: 1.9rem;
}
div#form-container .form-group textarea {
resize: none;
}
div#form-container .form-group select {
width: 100%;
font-size: 1rem;
height: 1.6rem;
padding: 0.125rem 0.125rem 0.0625rem;
background: none;
border: none;
line-height: 1.6;
box-shadow: none;
}
div#form-container .form-group .control-label {
position: absolute;
top: 0.25rem;
pointer-events: none;
padding-left: 0.125rem;
z-index: 1;
color: #b3b3b3;
font-size: 1rem;
font-weight: normal;
font-family: 'Roboto', sans-serif;
-webkit-transition: all 0.28s ease;
transition: all 0.28s ease;
}
div#form-container .form-group .bar {
position: relative;
border-bottom: 0.0625rem solid #999;
display: block;
}
div#form-container .form-group .bar::before {
content: '';
height: 0.125rem;
width: 0;
left: 50%;
bottom: -0.0625rem;
position: absolute;
background: var(--color, #337ab7);
-webkit-transition: left 0.28s ease, width 0.28s ease;
transition: left 0.28s ease, width 0.28s ease;
z-index: 2;
}
div#form-container .form-group input,
div#form-container .form-group textarea {
display: block;
background: none;
padding: 0.125rem 0.125rem 0.0625rem;
font-size: 1rem;
border-width: 0;
border-color: transparent;
line-height: 1.9;
width: 100%;
color: transparent;
-webkit-transition: all 0.28s ease;
transition: all 0.28s ease;
box-shadow: none;
}
div#form-container .form-group input[type="file"] {
line-height: 1;
}
div#form-container .form-group input[type="file"] ~ .bar {
display: none;
}
div#form-container .form-group select,
div#form-container .form-group input:focus,
div#form-container .form-group input:valid,
div#form-container .form-group input.form-file,
div#form-container .form-group input.has-value,
div#form-container .form-group textarea:focus,
div#form-container .form-group textarea:valid,
div#form-container .form-group textarea.form-file,
div#form-container .form-group textarea.has-value {
color: #333;
}
div#form-container .form-group select ~ .control-label,
div#form-container .form-group input:focus ~ .control-label,
div#form-container .form-group input:valid ~ .control-label,
div#form-container .form-group input.form-file ~ .control-label,
div#form-container .form-group input.has-value ~ .control-label,
div#form-container .form-group textarea:focus ~ .control-label,
div#form-container .form-group textarea:valid ~ .control-label,
div#form-container .form-group textarea.form-file ~ .control-label,
div#form-container .form-group textarea.has-value ~ .control-label {
font-size: 0.8rem;
color: gray;
top: -1rem;
left: 0;
}
div#form-container .form-group select:focus,
div#form-container .form-group input:focus,
div#form-container .form-group textarea:focus {
outline: none;
}
div#form-container .form-group select:focus ~ .control-label,
div#form-container .form-group input:focus ~ .control-label,
div#form-container .form-group textarea:focus ~ .control-label {
color: var(--colorlabel,#337ab7);
}
div#form-container .form-group select:focus ~ .bar::before,
div#form-container .form-group input:focus ~ .bar::before,
div#form-container .form-group textarea:focus ~ .bar::before {
width: 100%;
left: 0;
}
div#form-container .checkbox label,
div#form-container .form-radio label {
position: relative;
cursor: pointer;
padding-left: 2rem;
text-align: left;
color: #333;
display: block;
}
div#form-container .checkbox input,
div#form-container .form-radio input {
width: auto;
opacity: 0.00000001;
position: absolute;
left: 0;
}
div#form-container .radio {
margin-bottom: 1rem;
}
div#form-container .radio .helper {
position: absolute;
top: -0.25rem;
left: -0.25rem;
cursor: pointer;
display: block;
font-size: 1rem;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
color: #999;
}
div#form-container .radio .helper::before,
div#form-container .radio .helper::after {
content: '';
position: absolute;
left: 0;
top: 0;
margin: 0.25rem;
width: 1rem;
height: 1rem;
-webkit-transition: -webkit-transform 0.28s ease;
transition: -webkit-transform 0.28s ease;
transition: transform 0.28s ease;
transition: transform 0.28s ease, -webkit-transform 0.28s ease;
border-radius: 50%;
border: 0.125rem solid currentColor;
}
div#form-container .radio .helper::after {
-webkit-transform: scale(0);
transform: scale(0);
background-color: #337ab7;
border-color: #337ab7;
}
div#form-container .radio label:hover .helper {
color: #337ab7;
}
div#form-container .radio input:checked ~ .helper::after {
-webkit-transform: scale(0.5);
transform: scale(0.5);
}
div#form-container .radio input:checked ~ .helper::before {
color: #337ab7;
}
div#form-container .checkbox {
margin-top: 3rem;
margin-bottom: 1rem;
}
div#form-container .checkbox .helper {
color: #999;
position: absolute;
top: 0;
left: 0;
width: 1rem;
height: 1rem;
z-index: 0;
border: 0.125rem solid currentColor;
border-radius: 0.0625rem;
-webkit-transition: border-color 0.28s ease;
transition: border-color 0.28s ease;
}
div#form-container .checkbox .helper::before,
div#form-container .checkbox .helper::after {
position: absolute;
height: 0;
width: 0.2rem;
background-color: #337ab7;
display: block;
-webkit-transform-origin: left top;
transform-origin: left top;
border-radius: 0.25rem;
content: '';
-webkit-transition: opacity 0.28s ease, height 0s linear 0.28s;
transition: opacity 0.28s ease, height 0s linear 0.28s;
opacity: 0;
}
div#form-container .checkbox .helper::before {
top: 0.65rem;
left: 0.38rem;
-webkit-transform: rotate(-135deg);
transform: rotate(-135deg);
box-shadow: 0 0 0 0.0625rem #fff;
}
div#form-container .checkbox .helper::after {
top: 0.3rem;
left: 0;
-webkit-transform: rotate(-45deg);
transform: rotate(-45deg);
}
div#form-container .checkbox label:hover .helper {
color: #337ab7;
}
div#form-container .checkbox input:checked ~ .helper {
color: #337ab7;
}
div#form-container .checkbox input:checked ~ .helper::after,
div#form-container .checkbox input:checked ~ .helper::before {
opacity: 1;
-webkit-transition: height 0.28s ease;
transition: height 0.28s ease;
}
div#form-container .checkbox input:checked ~ .helper::after {
height: 0.5rem;
}
div#form-container .checkbox input:checked ~ .helper::before {
height: 1.2rem;
-webkit-transition-delay: 0.28s;
transition-delay: 0.28s;
}
div#form-container .radio + .radio,
div#form-container .checkbox + .checkbox {
margin-top: 1rem;
}
div#form-container .has-error .legend.legend,
div#form-container .has-error.form-group .control-label.control-label {
color: #d9534f;
}
div#form-container .has-error.form-group .form-help,
div#form-container .has-error.form-group .helper,
div#form-container .has-error.checkbox .form-help,
div#form-container .has-error.checkbox .helper,
div#form-container .has-error.radio .form-help,
div#form-container .has-error.radio .helper,
div#form-container .has-error.form-radio .form-help,
div#form-container .has-error.form-radio .helper {
color: #d9534f;
}
div#form-container .has-error .bar::before {
background: #d9534f;
left: 0;
width: 100%;
}
div#form-container .button {
position: relative;
background: currentColor;
border: 1px solid currentColor;
font-size: 1.1rem;
color: #4f93ce;
margin: 0 0 3rem 0;
padding: 0.75rem 3rem;
cursor: pointer;
-webkit-transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
overflow: hidden;
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
div#form-container .button span {
color: #fff;
position: relative;
z-index: 1;
}
div#form-container .button::before {
content: '';
position: absolute;
background: #071017;
border: 50vh solid #1d4567;
width: 30vh;
height: 30vh;
border-radius: 50%;
display: block;
top: 50%;
left: 50%;
z-index: 0;
opacity: 1;
-webkit-transform: translate(-50%, -50%) scale(0);
transform: translate(-50%, -50%) scale(0);
}
div#form-container .button:hover {
color: #337ab7;
box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}
div#form-container .button:active::before,
div#form-container .button:focus::before {
-webkit-transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
transition: transform 1.12s ease, opacity 0.28s ease 0.364s;
transition: transform 1.12s ease, opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
-webkit-transform: translate(-50%, -50%) scale(1);
transform: translate(-50%, -50%) scale(1);
opacity: 0;
}
div#form-container .button:focus {
outline: none;
}

div#form-container input::-webkit-outer-spin-button,
div#form-container input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

div#form-container input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}

div#form-container .hr-sect {
display: flex;
flex-basis: 100%;
align-items: center;
color: rgba(0, 0, 0, 0.35);
font-size: 12px;
margin: 8px 0px;
}

div#form-container .hr-sect::before,
div#form-container .hr-sect::after {
content: "";
flex-grow: 1;
background: rgba(0, 0, 0, 0.35);
height: 1px;
font-size: 0px;
line-height: 0px;
}